asgiref==3.7.2
async-timeout==4.0.3
cairocffi==1.6.0
CairoSVG==2.7.0
cffi==1.15.1
cssselect2==0.7.0
defusedxml==0.7.1
Django==4.2.3
django-colorfield==0.9.0
django-mathfilters==1.0.0
Pillow==10.0.0
psycopg2==2.9.6
pycparser==2.21
redis==5.0.1
sqlparse==0.4.4
tinycss2==1.2.1
typing_extensions==4.7.1
webencodings==0.5.1
